{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "prefer-arrow-callback": "off",
    "func-style": [
      "off",
      "declaration"
    ],
    "no-use-before-define": "warn"
  }
}